/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
p:last-child {
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  all: initial;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
:root {
  --button-green: #bbf330;
  --dark-green: #7eb101;
  --yellow-main: #ffe550;
  --black: #2c2c2c;
  --white: #fefefe;
  --2: #a7ce47;
  --tekst: #3d3d3d;
  --tekst2: #969696;
  --tekst3: #4a4a4a;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
  background: var(--white);
}
.container {
  max-width: 320px;
  padding: 0px 20px;
  margin: 0 auto;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0px 20px;
  }
}
header {
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  margin-bottom: 60px;
}
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav {
  display: none;
}
.menu-btn {
  border: none;
  background-color: transparent;
}
.mobile-nav {
  position: absolute;
  display: none;
  top: 50px;
  right: 20px;
  width: 130px;
  height: 255px;
  border-radius: 30px 0 30px 30px;
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  background: var(--white);
}
.is-open {
  display: block;
}
.close-btn {
  position: absolute;
  top: 4px;
  right: 4px;
}
.mobile-list-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 26px;
}
.mobile-nav-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.mobile-nav-text:hover,
mobile-nav-text:focus {
  color: var(--button-green);
}
/* About */
.about {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 60px;
}

.title-about {
  font-weight: 700;
  font-size: 28px;
}
.text-about {
  width: 266px;
  font-size: 14px;
  line-height: 1.5;
}
.order-btn {
  border-radius: 30px;
  border: none;
  padding: 6px 17px;
  width: 98px;
  height: 32px;
  background: var(--button-green);
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
}
.order-btn:hover,
order-btn:focus {
  background: var(--yellow-main);
}
@media screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
  .nav {
    display: block;
  }
  .menu-btn {
    display: none;
  }
  .nav-header {
    display: flex;
    gap: 30px;
  }
  .list-nav {
    display: flex;
    gap: 28px;
    align-items: center;
  }
  .nav-text {
    font-size: 14px;
  }
  .nav-text:hover,
  nav-text:focus {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--button-green);
  }
  .title-about {
    font-size: 42px;
    line-height: 1.2;
  }
  .text-about {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  header {
    margin-bottom: 27px;
  }
  .about {
    margin-bottom: 27px;
  }
  .title-about {
    font-size: 48px;
  }
  .text-about {
  }
}
