/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
p:last-child {
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  all: initial;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
:root {
  --button-green: #bbf330;
  --dark-green: #7eb101;
  --yellow-main: #ffe550;
  --black: #2c2c2c;
  --white: #fefefe;
  --2: #a7ce47;
  --tekst: #3d3d3d;
  --tekst2: #969696;
  --tekst3: #4a4a4a;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--black);
  background: var(--white);
}
.container {
  max-width: 320px;
  padding: 0px 20px;
  margin: 0 auto;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0px 32px;
  }
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0px 20px;
  }
}
header {
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  margin-bottom: 60px;
}
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav {
  display: none;
}
.menu-btn {
  border: none;
  background-color: transparent;
}
.mobile-nav {
  position: absolute;
  display: none;
  top: 50px;
  right: 20px;
  width: 130px;
  height: 255px;
  border-radius: 30px 0 30px 30px;
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  background: var(--white);
}
.is-open {
  display: block;
}
.close-btn {
  position: absolute;
  top: 4px;
  right: 4px;
}
.mobile-list-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 26px;
}
.mobile-nav-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.mobile-nav-text:hover,
mobile-nav-text:focus {
  color: var(--button-green);
}
/* About */
.hero-section {
  margin-bottom: 60px;
}
.about {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.title-about {
  font-weight: 700;
  font-size: 28px;
}
.text-about {
  width: 266px;
  font-size: 14px;
  line-height: 1.5;
}
.order-btn {
  border-radius: 30px;
  border: none;
  padding: 6px 17px;
  width: 98px;
  height: 32px;
  background: var(--button-green);
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
}
.order-btn:hover,
order-btn:focus {
  background: var(--yellow-main);
}
.picture-about {
  display: none;
}
/* service section */
.service-section {
  background-color: var(--yellow-main);
  padding: 60px 0px;
}
.image-decoration {
  width: 280px;
  height: 280px;
  background-image: url('/pictures/Servise/mobail-appe-x1.png');
  margin-bottom: 60px;
}
.title-service {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 27px;
}
.text-service {
  width: 272px;
  margin-bottom: 28px;
}
.list-options {
  width: 252px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 40px;
}
.svg_service {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  fill: #fff;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.title-option {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 16px;
}
.btn-servce {
  display: flex;
  align-items: center;
  gap: 24px;
}
.order-btn-wight {
  width: 106px;
  height: 40px;
  padding: 10px 20px;
  background: #fff;
  border-radius: 30px;
  border: 2px solid var(--dark-green);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: var(--black);
}
.order-btn-wight:hover,
.order-btn-wight:focus {
  background: var(--button-green);
}
.btn-read-more {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: #000;
}
/* section menu */
.mein-section {
  margin-top: 50px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-menu {
  width: 200px;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}
.span-menu {
  display: flex;
  text-align: center;
  margin-bottom: 60px;
}
.list-dishs {
  display: none;
}
.list-dishs-mobile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dish {
  width: 280px;
  height: 282px;
  border: 11px solid var(--yellow-main);
  border-radius: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-dish {
  width: 223px;
  height: 223px;
  border-radius: 116px;
}
/* feedback section */
.feedback {
  background-color: var(--yellow-main);
  padding: 60px 0px;
}
.title-feedback {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
}
.list-feedback {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.feedback-card {
  width: 280px;
  border-radius: 0px 30px 30px 30px;
  padding: 7px 8px 9px 8px;
  background: var(--white);
}
.user-card {
  width: 160px;
  height: 52px;
  border-right: 1px solid var(--dark-green);
  display: flex;
  gap: 16px;
}
.stars {
  display: flex;
  gap: 4px;
  margin-bottom: 29px;
}
.feedback-text {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 39px;
}

.awatar {
  width: 48px;
  height: 48px;
  border-radius: 100%;

  outline: 2px solid var(--yellow-main);
  outline-offset: -2px;
}
.username {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}
/* Contact */
.contact {
  margin-top: 60px;
  margin-bottom: 60px;
}
.banana {
  width: 280px;
  height: 78px;
  background: url('/pictures/banana.png');
  margin-bottom: 17px;
}
.title-subscri {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.contact-form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.style-imput {
  width: 279px;
  height: 42px;
  border: 0.85px solid var(--yellow-main);
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 16px;
}
.btn-submit {
  border-radius: 30px;
  padding: 10px 20px;
  width: 103px;
  height: 42px;
  background: var(--button-green);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  border: none;
}
.btn-submit:hover,
.btn-submit:focus {
  background: var(--yellow-main);
}

@media screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
  .nav {
    display: block;
  }
  .menu-btn {
    display: none;
  }
  .nav-header {
    display: flex;
    gap: 30px;
  }
  .list-nav {
    display: flex;
    gap: 28px;
    align-items: center;
  }
  .nav-text {
    font-size: 14px;
  }
  .nav-text:hover,
  nav-text:focus {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--button-green);
  }
  .title-about {
    font-size: 42px;
    line-height: 1.2;
  }
  .text-about {
    font-size: 16px;
  }
  /* ----------------------------------- */
  .image-decoration {
    width: 704px;
    height: 364px;
    background-image: url('/pictures/Servise/tablet-apple-x1.png');
  }
  .title-service {
    width: 526px;
    font-size: 42px;
    margin-bottom: 20px;
  }
  .text-service {
    width: 500px;
    margin-bottom: 40px;
  }
  .list-options {
    width: 620px;
    flex-direction: row;
    gap: 116px;
    margin-bottom: 63px;
  }
  .text-option {
    width: 252px;
    font-weight: 400;
    font-size: 14px;
    color: var(--black);
  }
  .order-btn-wight {
    font-size: 13px;
    line-height: 1.5;
  }
  .btn-read-more {
    font-size: 13px;
    line-height: 1.5;
  }
  /* ---------------------- */
  .mein-section {
    margin-top: 60px;
  }
  .title-menu {
    width: 656px;
    font-size: 42px;
    text-align: center;
  }

  .list-dishs-mobile {
    display: none;
  }
  .list-dishs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
  }
  .dish {
    border: 14px solid var(--yellow-main);
    border-radius: 168px;
    width: 336px;
    height: 338px;
  }
  .img-dish {
    border-radius: 140px;
    width: 267px;
    height: 268px;
  }
  /* --------------------------------------- */
  .title-feedback {
    font-size: 42px;
  }
  .list-feedback {
    flex-direction: row;
    gap: 32px;
  }
  .feedback-card {
    width: 336px;
    padding: 16px 12px 30px 12px;
  }
  /* -------------------------------------- */
  .banana {
    display: none;
  }
  .title-subscri {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
  }
  .contact-form {
    flex-direction: row;
  }
  .style-imput {
    width: 395px;
    height: 42px;
    margin: 0px 24px 0px 0px;
  }
}
@media screen and (min-width: 1200px) {
  header {
    margin-bottom: 27px;
  }
  .hero-section {
    margin-bottom: 27px;
  }
  .title-about {
    font-size: 48px;
  }
  .hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about {
    width: 515px;
  }
  .picture-about {
    position: relative;
    width: 560px;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pikture {
    width: 528px;
    height: 528px;
    border-radius: 100%;
    fill: #fff;
    outline: 14px solid var(--yellow-main);
  }
  .skroll-left {
    position: absolute;
    top: 264px;
    right: 528px;
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  }
  .arrow-upr {
    position: absolute;
    top: 264px;
    right: 0px;

    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  }
  .svg-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .service {
    display: flex;
    align-items: center;
    gap: 37px;
  }
  .image-decoration {
    width: 550px;
    height: 550px;
    background-image: url('/pictures/Servise/pc-apple-x1.png');
  }
  .title-service {
    width: 526px;
  }
  .list-options {
    width: 573px;
    gap: 67px;
  }
  .text-option {
    width: 253px;
  }
  .btn-read-more {
    display: none;
  }
  /* ------------------------- */
  .mein-section {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .list-dishs {
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
    gap: 32px;
  }
  .dish {
    border: 16px solid var(--yellow-main);
    border-radius: 197px;
    width: 360px;
    height: 362px;
  }
  .span-menu {
    margin-bottom: 36px;
  }
  /* -------------------------------------------------- */
  .feedback {
    padding: 100px 0px;
  }
  .list-feedback {
    gap: 140px;
  }
  .feedback-card {
    width: 501px;
  }
  /* ---------------------------------------------- */
  .contact-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .text-content {
    width: 656px;
  }
  .text-subscri {
    width: 656px;
    height: 243px;
  }
  .title-subscri {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
  }
  .texe-subscri {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
  .banana {
    width: 546px;
    height: 266px;
    display: flex;
    background: url('/pictures/bananaPC.png');
    margin: 0px;
  }
}
